    body {
	font-family: sans-serif;
        margin:0;
        padding:0;
        border:0;
        width:100%;
        background:#fff;
        min-width:600px;
	max-width:70em;
	font-size:90%;
	line-height: 140%;
	font-size: 100%;
    }
 
  a img
  {
    border-style: none;
    text-decoration: none;
    vertical-align: middle;
  }
 
  h1 { margin: 0 0 1em 5%; width: 80%; font-size: 160%; line-height: normal;}
  small {margin: .5em 0 0 5%; font-size: 80%; position: relative; display: block;}
  h3 { margin-top: 2em; font-size: 100%; }
  h2 { margin-top: 1em; font-size: 120%; }
 
  code {
      margin: 0.5em 2em;
      padding: 0.5em;
      text-align: left;
      display: block;
      overflow: auto;
      font: 500 1em/1.5em monospace;
      white-space: pre;
      background: #f0f0f0;
      border: 1px solid #999;
      -moz-border-radius: 8px; -webkit-border-radius: 8px;
      border-radius: 8px;
  }

  tt {
      margin: 0.25em 0;
      padding: 0.25em;
      font: 500 1em/1.5em monospace;
      background: #e0e0e0;
      white-space: nowrap;
  }

  hr {
    margin: 10px 0 10px 0;
    height: 2px; border-width: 0; color: gray; background-color: gray;
  }

  /* layout */
  .host
  {
    position: absolute;
    right: 1em;
    top: 2em;
    width: 25em;
    text-align: center;
    font-size: 80%;
    font-weight: bold;
  }
 
  .host a { text-decoration: none; }
 
  #content-mask {
      background: url("prweb-sidebar.png") 0 60px fixed no-repeat;
      position:relative;
      clear:both;
      float:left;
      width:100%;
      overflow:hidden;
  }

  #content-container {
      float:left;
      width:200%;
      position:relative;
      left:10.2em;
      background:#fff;
  }
  #content-menu {
      float:left;
      width:8em;
      position:relative;
      right:8em;
      padding: 4px;
      border: 1px solid #4e460f;
      -moz-border-radius: 8px; -webkit-border-radius: 8px;
      border-radius: 8px;
      font-weight: bold;
  }
  #content-wrap {
      float:right;
      width:50%;
      position:relative;
      right:9em;
      padding-bottom:1em;
      margin-right: 0.4em;
  }
  #content {
      margin:0 1em 0 10.6em;
      position:relative;
      right:100%;
      padding: 8px;
      overflow:hidden;
      border: 1px solid #4e460f;
      -moz-border-radius: 8px; -webkit-border-radius: 8px;
      border-radius: 8px;
  }

  #content-menu ul {
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;
  }

  #content-menu ul li {
      margin-left: 0.5em;
  }

  #content-menu li:before {
      content: "\0020 \00BB \0020";
  }

  #footer {
      clear: both;
      display: block;
      padding: 1em;
      margin-left: -5%;
      font-size: 80%;
      text-align: center;
  }
 
